<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>
		{{{ body }}}

		 <script src="../../public/js/burgers.js"></script>
		 <script>
			 $(".new-burger").on("click", function() {
    event.preventDefault();

    const newBurger = {
        burger_name: $("#name").val().trim(),
        devoured: false
    };

    console.log(newBurger)

    $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
    }).then(() => {
        console.log("hello")
        location.reload();
    });
})
		 </script>
	</body>
</html>